[submodule "myrrh"]
	path = myrrh
	url = https://github.com/JohnReid/myrrh.git
[submodule "boost-indexing-suite"]
	path = boost-indexing-suite
	url = https://github.com/JohnReid/boost-indexing-suite.git
